= render "devise/shared/session_header"
.signup-page
  .signup-page__title
    %h2 新規会員登録
  .signup-page__container
    = link_to step1_signup_index_path(resource_name) , class: "text-decoration-none font-color-white" do
      .signup-page__container__item
        メールアドレスで登録する
