= link_to({controller: "users", action: "edit", name: "edit"}, class: "text-decoration-none font-color-black") do
  .user-edit-container__sidebar__item
    基本情報
= link_to({controller: "users", action: "edit", name: "delivery_address"}, class: "text-decoration-none font-color-black") do
  .user-edit-container__sidebar__item
    届け先住所