- if products.present?
  - products.each do |product|
    = link_to product_path(product.id) ,class: "my-page__users-posts__post__show" do
      = image_tag product.images[0].image.url , class: "users-post-image"

- else
  まだ該当する商品はありません。