.show-contents{
  display: flex;
  margin: 20px auto 0;
  width: 1000px;

  &__product-info{
    width: 300px;
    margin: 10px 10px;
    padding: 10px;
    font-size: 14px;
    // border: solid 1px #eee;
    // border-radius: 5px;

    &__title{
      margin-bottom: 5px;
      font-weight: bold;
    }

    &__image{
      width: 100%;
      object-fit: cover;
    }

    &__detail{
      padding: 5px;
      text-align: left;

      &__price{}

    }
  }

  &__message-box{
    width: 100%;

    .message-views{
      margin: 10px 10px 100px;

      &__detail-view{
        width: 100%;
        margin: 0 10px 10px auto;
        font-size: 11px;

          &__message{
            display: flex;

            &__text{
              position: relative;
              max-width: 60%;
              padding: 5px 10px;
              border: solid 2px rgb(88, 223, 88);
              border-radius: 15px;
              background-color: rgb(88, 223, 88);

              &:before {
                content: "";
                position: absolute;
                top: 30%;
                left: -14px;
                margin-top: -2px;
                border: 2px solid transparent;
                border-right: 12px solid rgb(88, 223, 88);
                z-index: 2;
              }
              
              &:after {
                content: "";
                position: absolute;
                top: 30%;
                left: -20px;
                margin-top: -4px;
                border: 4px solid transparent;
                border-right: 14px solid rgb(88, 223, 88);
                z-index: 1;
              }
            }

            &__user-date{
              margin: 6px 0 0 6px;
              font-size: 10px;
              color: gray;

              &__user{
                // margin: 0 5px 0 auto ;
              }

              &__date{
                // margin-right: 0 5px 0 auto ;
              }

              &__date-time{
                // margin-right: 0 5px 0 auto ;
              }
          }
        }
      }


      &__detail-view-right{
        width: 94%;
        margin: 0 10px 10px auto;
        font-size: 11px;

          &__message{
            display: flex;

            &__text{
              position: relative;
              // margin: 0 0 0 auto;
              max-width: 60%;
              padding: 5px 10px;
              border: solid 2px #eee;
              border-radius: 15px;

              &:before {
                content: "";
                position: absolute;
                top: 30%;
                right: -14px;
                margin-top: -2px;
                border: 2px solid transparent;
                border-left: 12px solid #FFF;
                z-index: 2;
              }
              
              &:after {
                content: "";
                position: absolute;
                top: 30%;
                right: -20px;
                margin-top: -4px;
                border: 4px solid transparent;
                border-left: 14px solid #eee;
                z-index: 1;
              }
            }

            &__user-date{
              margin: 6px 6px 0 auto ;
              font-size: 10px;
              color: gray;

              &__user{
                // margin: 0 5px 0 auto ;
              }

              &__date{
                // margin-right: 0 5px 0 auto ;
              }

              &__date-time{
                // margin-right: 0 5px 0 auto ;
              }
          }
        }
      }
    }

    .form-container{
      // position: fixed;
      // bottom: 0;
      width: 700px;
      margin-bottom: 20px;

      .message-form{
        display: flex;
        width: 100%;

        &__text-box{
          width: 100%;

        }
        &__submit-box{

          .chat-box__submit{
            margin-left: 10px;
            padding: 10px 15px;
            border: solid 1px #eee;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.2s;
            

            &:hover{
              background: rgba(#f8e29b, 1.0);
              border: solid 1px #f8e29b;
              color: #080808;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

#textarea {
  max-height: 200px;
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
  line-height: 20px;
  outline: none;
  resize: none;
  z-index: 3;
}
