.user-edit-container{
  display: flex;
  width: 950px;
  margin: 0 auto;

  &__sidebar{
    width: 150px;
    margin: 30px 25px 0 20px;
    font-size: 14px;
    border-right: solid 1px #eee;

    &__item{
      padding: 5px 10px;
      transition: 0.3s;
      cursor: pointer;
      // border-bottom: solid 1px #ccc;

      &:hover{
        background: rgba(rgb(243, 223, 168), 1.0);
      }
    }

  }
  &__edit-info{
    width: 700px;

    &__title{
      text-align: center;
    }

    &__items{
      display: flex;

      &__item{
        

        &__box{
          width: 100%;
          margin: 0 30px;

          &__field{
            width: 100%;
            margin-bottom: 10px;

            &__birthday{
              font-size: 13px;
            }

            span{
              font-size: 13px;
            }

            &__prefecture{
              font-size: 13px;
            }


            #user_current_address_prefectures{
              width: 33%;
              position: relative;
              z-index: 2;
              height: 45px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 14px;
              line-height: 1.5;
              cursor: pointer;
              outline: 0;
              -webkit-appearance: none;
              min-height: 1.5em;
              box-sizing: border-box;
            }

          }

        }
      }

      &__item-left{
        display: flex;
        justify-content: center;
        align-items: center;
        

        &__info{

          &__label{

            &__image{
              height: 320px;
              width: 290px;
              object-fit: cover;
              border-radius: 5px;
              cursor: pointer;
            }

            &__file{
              display: none;
            }
          }
        }
      }
    }

    &__input-area{
      width: 100%;
      margin-right: 25px;

      span{
        font-size: 13px;
      }
    }
  }
}

.input-box{
  height: 45px;
  width: 100%;
  padding: 5px 10px;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.btn-default {
  margin: 32px 25px 0 0;
  background: #ecd791;
  border: 1px solid #ecd791;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 18px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;

  &:hover{
    background: #ecc956;
    border: 1px solid #ecc956;
    font-weight: bold;
  }
}


#birthday_birthday_1i {
  box-sizing: border-box;
  // margin-top: 8px;
  padding: 0 10px;
  width: 76px;
  height: 45px;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}
#birthday_birthday_2i {
  box-sizing: border-box;
  margin-left: 3px;
  padding: 0 10px;
  width: 76px;
  height: 45px;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
} 
#birthday_birthday_3i {
  margin-left: 3px;
  box-sizing: border-box;
  padding: 0 10px;
  width: 76px;
  height: 45px;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}
