$main-black-color: rgb(36, 35, 35);
$main-white-color: #ffffff;
$main-light-gray-color: #eeeeee;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html, body {
  margin: 0;
  padding: 0;
  color: rgb(36, 35, 35);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-decoration-none{
  text-decoration: none;
}

.font-color-black{
  color: $main-black-color;
}

.font-color-white{
  color: $main-white-color;
}

.font-color-light-gray{
  color: $main-light-gray-color;
}

.active{
  color: black;
}

.like{
  color: rgb(245, 7, 7);
}