-# = render 'shared/sub_header'
-# = form_for @product do |f|
-#   .exhibit-wrapper
-#     .exhibit-wrapper__header
-#       .exhibit-wrapper__header__logo
-#     .exhibit-wrapper__main
-#       .exhibit-wrapper__main__header
-#         %h3 商品の情報を入力
-#       .exhibit-wrapper__main__image
-#         %h3 
-#           出品画像
-#           %span 必須
-#         %p 最大10枚までアップロードできます
-#         .exhibit-wrapper__main__image__cards{data:{exhibitid:0}}
-#           %label.exhibit-wrapper__main__image__drag-wrapper
-#             .exhibit-wrapper__main__image__drag
-#               %p クリックしてファイルをアップロード
-#             - @product.images.each_with_index do |image, j|
-#               =image_tag image.image.to_s, class: "item-edit__image item-edit__image-#{j}"
-#             = f.fields_for :images do |i|
-#               =i.file_field :image, readonly: false, class: "exhibit-wrapper__main__image__drag__form"
-#               -# =i.check_box :_destroy, disabled: true, class: "exhibit-wrapper__main__image__drag__check-box"
-#             .exhibit-wrapper__main__image__cards_anchor
-#         .error-append__image
-#       .exhibit-wrapper__main__item
-#         .exhibit-wrapper__main__item__name
-#           %label 
-#             商品名
-#             %span 必須
-#           =f.text_field :title, class: "exhibit-wrapper__main__item__name__field", placeholder: "商品名（必須40文字まで）"
-#           .error-append__title
-#         .exhibit-wrapper__main__item__content
-#           %label 
-#             商品の説明
-#             %span 必須
-#           =f.text_area :text, rows:"6", class: "exhibit-wrapper__main__item__content__area" , placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
-#           .error-append__detail
-#       -# .exhibit-wrapper__main__details
-#       -#   .exhibit-wrapper__main__details-left
-#       -#     %p 商品の詳細
-#       -#   .exhibit-wrapper__main__details-right
-#       -#     / （注）カテゴリーは必須実装でないのでひとまず外しています。
-#       -#     %label 
-#       -#       カテゴリー
-#       -#       %span 必須
-#       -#     .exhibit-wrapper__main__details-right__select-wrapper.exhibit-wrapper__main__details-right__select-wrapper_category
-#       -#       =f.select :category_id, @categories.map {|category| [category.name, category.id]}, {prompt: "---"}, class: "exhibit-category-l exhibit-wrapper__main__details-right__select-wrapper__select"
-#       -#       %i.fas.fa-angle-down.exhibit-wrapper__main__details-right__select-wrapper__icon
-#       -#     .exhibit-wrapper__main__details-right__select-wrapper.exhibit-wrapper__main__details-right__select-wrapper_category.category-append-m
-#       -#     .exhibit-wrapper__main__details-right__select-wrapper.exhibit-wrapper__main__details-right__select-wrapper_category.category-append-s
-#       -#     %label.exhibit-brand
-#       -#       ブランド
-#       -#       %span.exhibit-wrapper__main__details-right__brand-optional 任意
-#       -#     .exhibit-wrapper__main__details-right__brand.exhibit-brand
-#       -#       =f.text_field :brand, class: "exhibit-wrapper__main__item__name__field", placeholder: "ブランド名を入力してください"
-#       -#     %label
-#       -#       商品の状態
-#       -#       %span 必須
-#       -#     .exhibit-wrapper__main__details-right__select-wrapper
-#       -#       =f.select :status, Item.statuses.keys, {prompt: "---"}, class: "exhibit-wrapper__main__details-right__select-wrapper__select"
-#       -#       .error-append__details
-#       -# .exhibit-wrapper__main__delivery
-#       -#   .exhibit-wrapper__main__delivery-left
-#       -#     %p 配送について
-#       -#   .exhibit-wrapper__main__delivery-right
-#       -#     %label 
-#       -#       配送料の負担
-#       -#       %span 必須
-#       -#     .exhibit-wrapper__main__delivery-right__select-wrapper
-#       -#       =f.select :shipping_charge, Item.shipping_charges.keys, {prompt: "---"}, class: "exhibit-wrapper__main__delivery-right__select-wrapper__select exhibit__shipping-charges"
-#       -#       .error-append__shipping-charge
-#       -#     %label.exhibit__delivery-method
-#       -#       配送の方法
-#       -#       %span 必須
-#       -#     .exhibit-wrapper__main__delivery-right__select-wrapper.exhibit__delivery-method
-#       -#       =f.select :shipping_method, Item.shipping_methods.keys, {prompt: "---"}, class: "exhibit-wrapper__main__delivery-right__select-wrapper__select"
-#       -#       .error-append__shipping-method
-#       -#     %label 
-#       -#       発送元の地域
-#       -#       %span 必須
-#       -#     .exhibit-wrapper__main__delivery-right__select-wrapper
-#       -#       =f.select :delivery_source, Item.delivery_sources.keys, {prompt: '---'}, class: "exhibit-wrapper__main__delivery-right__select-wrapper__select"
-#       -#       .error-append__delivery-source
-#       -#     %label 
-#       -#       発送までの日数
-#       -#       %span 必須
-#       -#     .exhibit-wrapper__main__delivery-right__select-wrapper
-#       -#       =f.select :shipping_day, Item.shipping_days.keys, {prompt: '---'}, class: "exhibit-wrapper__main__delivery-right__select-wrapper__select"
-#       -#       .error-append__shipping-day
-#       .price
-#         .sub-head 販売価格(300〜9,999,999)
-#         .form__right
-#           %ul.sell-price
-#             %li.form-group
-#               .form-group__top
-#                 .form-group__top__left
-#                   =f.label '価格'
-#                   .form-require 必須
-#                 .form-group__top__right
-#                   = f.number_field :price, placeholder: '例) 300', class: 'form-group__top__right__input',id: 'price_calc'
-#             %li.calculation
-#               .calculation__left 販売手数料(10%)
-#               .calculation__right
-#             %li.result
-#               .result__left 販売利益
-#               .result__right -
-#       .exhibit-wrapper__main__footer
-#         .exhibit-wrapper__main__footer__content
-#           %p
-#             =link_to "禁止されている出品、行為", "#"
-#             を必ずご確認ください。
-#           %p 
-#             またブランド品でシリアルナンバー等がある場合はご記載ください。
-#             =link_to "偽ブランドの販売", "#"
-#             は犯罪であり処罰される可能性があります。
-#           %p
-#             また、出品をもちまして
-#             =link_to "加盟店規約", "#"
-#             に同意したことになります。
-#         %label.exhibit-wrapper__main__footer__submit  
-#           .exhibit-wrapper__main__footer__submit-button
-#             = controller.action_name == "new" ? "出品する" : "編集する"
-#           = f.hidden_field :saler_id, value: current_user.id
-#           =f.submit 
-#         %label.exhibit-wrapper__main__footer__back
-#           .exhibit-wrapper__main__footer__back-button もどる
-#           =button_to "もどる", class:"exhibit-wrapper__main__footer__button", type: "hidden"



= render "shared/sub_header"
= render "product_form", product: @product