.wrapper
  = render "shared/sub_header"
  .buyer-show-main
    = render "product_box"
    = render "message_box"
    -# - breadcrumb :buyer_show_product, @product
    -# .breadcrumbs-buyer
    -#   = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "breadcrumbs-buyer__list"
    = render 'shared/footer'